titol-assignatura {
    font-size: 5em;
    font-family: serif;
}

titol-modul {
    font-size: 3em;
    font-family: serif;
}

.aclaracio {
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
}