.titol-assignatura {
    font-size: 5em;
    font-family: serif;
    border-bottom: none;
}

.titol-modul {
    font-size: 3em;
    font-family: serif;
    border-bottom: none;
}

.aclaracio {
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
}

.exemple {
    padding-left: 1em;
}

.capçal {
    font-weight: bold;
    border-bottom: 1px solid;
    padding: 0 5px;
}